@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.home-page-container {
  position: relative;
  width: 1440px;
  height: 2405px;
  }

.product-window-container {
  position: absolute;
  width: 1284px;
  height: 1480px;
  left: 80px;
  top: 421px;
  gap: 20px;
}

