//FONTS

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

$primary-font-family: "Lato", sans-serif;

// COLORS

$primary-turquoise: #5ab0bb;
$primary-turquoise-dark: #1493a4;
$primary-turquoise-light: #cee7eb;

$accent-violet: #66318d;
$accent-orange: #fb8200;

$functional-succes-green1: #4caf50;
$functional-succes-green2: #ebf4e6;
$functional-warning-error: #be0028;

$greyscale-black: #000000;
$greyscale-dark-grey: #7b7e82;
$greyscale-grey: #cfcfcf;
$greyscale-light-grey: #cfcfcf;
$greyscale-very-light-grey: #faf9fb;
$greyscale-white: #ffffff;
