<div class="main-header-container">
  <div class="main-navigation-container">
    <div class="navigation-container">
      <button class="tablinks" routerLink="">ALL BEERS</button>
      <button class="tablinks" routerLink="">PACKAGES</button>
      <button class="tablinks" routerLink="">BEER GIFTS</button>
    </div>
  </div>
  <div class="meta-navigation-container"></div>

  <div class="common-header-container">
    <div class="contact-container">
      <img src="assets/img/contact.svg" alt="contacts" />Contact
    </div>
    <div class="language-container">
      <div class="select-container">
        <app-language-select></app-language-select>
      </div>
    </div>
    <div class="search-bar-container">
        <app-search-bar></app-search-bar>
    </div>
    <div >
        <app-navigation-field></app-navigation-field>
    </div>
    <div class="header-image-container" routerLink="">
      <img src="assets/img/logo.svg" alt="" />
    </div>
  </div>
</div>
