<div class="beer-card-container">
  <div class="upper-beer-card-container">
    <div class="beer-img-container">
      <div class="badges-container">
      </div>
      <div class="img-container" style="background: url({{image_url}});" ></div>
    </div>
    <div class="beer-description-container">
      <small>{{ contributor }}</small>
      <h5>{{ name }}</h5>
      <small> {{ tagline }}</small>
    </div>
  </div>
  <div class="bottom-beer-card-container">
    <div class="beer-price-container"></div>
    <form class="beer-button-container" >
      <app-primary-button  [label]="'Add to Cart'" (click)="addToCart()"></app-primary-button>
    </form>
  </div>
</div>
