<div class="navigation-icon-container">
  <div class="myaccount-container">
    <img src="assets/img/myaccount-icon.png" alt="Myaccount" />
    My Account
  </div>
  <div class="heart-container">
    <img src="assets/img/heart-icon.png" alt="" />
    Whislist
  </div>
  <div class="compare-container">
    <img src="assets/img/compare-icon.png" alt="" />
    Compare
  </div>
  <div class="cart-container" routerLink="shoppingcart">
    <img src="assets/img/cart-icon.png" alt="" />
    Cart
  </div>
</div>
